@import "../utils/mixin";

header {
  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    border-bottom: 8px solid #AA0511 !important;
    // height: 56px;
    padding-bottom: 8px;
    @include pad {
      // height: 68px;
    }
    @include pc {
      // height: 96px;
      padding-bottom: 16px;
    }
  }
}
